/*RESET*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*COMMON*/

.container{
    width:70%;
    margin:0 auto;
}

.container-small{
    width:50%;
    margin:0 auto;
}

/*POSITION*/

.fixed{
    position: fixed;
    top:0;
    left:0;
}

/*FLEXBOX*/
.flexspacebw{
    display:flex;
    justify-content: space-between;
}
.flexcol{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.flex{
    display:flex;
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*HEADER*/

/*NAVBAR*/
.navbar-header{
    width:100%;
    height:90px;
    padding: 10px;
    /*DEBUG*/
    background-color: purple;
}

.nav-left,
.nav-right{
    width:30%;
    height:100%;
    /*DEBUG*/
    border:1px solid white;
}

/*JUMBOTRON SECTION*/
.jumbotron{
    width:100%;
    height:calc(700px);
    margin-top:90px;
    background-color: #add2e5;
}

.jumbo-adv{
    height:100%;
    /*DEBUG*/
    background-color: green;
}
.jumbo-title{
    width:100%;
    height:40%;
    /*DEBUG*/
    background-color: lightsalmon;
}
.jumbo-columns{
    height: calc(100% - 40%);
    width:100%;
    /*DEBUG*/
    background-color: red;
}
.jumbo-paragraph{
    width:30%;
    height:100%;
    /*DEBUG*/
    border:1px solid black;
}
.jumbo-img{
    flex-grow: 1;
    height:100%;
    /*DEBUG*/
    border:1px solid black;
}

/*MAIN*/

/*BUSINESS PLAINS*/
.business-plains{
    margin-top:80px;
    margin-bottom:80px;
    height:1000px;
    /*DEBUG*/
    background-color: grey;
}
.plain-choice{
    width:100%;
    height:20%;
    /*DEBUG*/
    background-color: coral;
    margin-bottom:60px;
}
.plain-show{
    height: calc(100% - 20%);
    width:100%;
    margin-bottom:20px;
    /*DEBUG*/
    background-color: coral;
}
.plain-columns{
    width:100%;
    height:80%;
}
.plain-column{
    width: calc(100% / 3);
    height:100%;
    margin-left:10px;
    margin-right:10px;
    /*DEBUG*/
    border: 1px solid black;
}
.plain-footer{
    height:calc(100% - 80%);
    width:100%;
    margin-top:10px;
    /*DEBUG*/
    border:1px solid black;
}
/*CARD*/
.card{
   height: 400px;
   /*DEBUG*/
   background-color: brown; 
   margin-bottom:30px;
}
.card-info{
    width:30%;
    height: 100%;
    /*DEBUG*/
    background-color: magenta;
}
.card-img{
    height:100%;
    flex-grow:1;
}
/*FUNCTION SECTION*/
.function-section{
    height:900px;
    margin-bottom:10px;
    /*DEBUG*/
    background-color: salmon;
}
.title-function{
    width:100%;
    height:20%;
    /*DEBUG*/
    border: 1px solid black;
}
.function-columns{
    width:100%;
    height:calc(100% - 20%);
    flex-wrap:wrap;
    /*DEBUG*/
    border: 1px solid black;
}
.function-col{
    width: calc(100% / 3 - 10px);
    margin:5px;
    min-height:200px;
    
    /*DEBUG*/
    background-color: lightskyblue;
}
/*BANNER*/
.banner{
    min-height:200px;
    margin-bottom:30px;
    /*DEBUG*/
    background-color:blue;
}
/*AGENCY SECTION*/
.agency-section{
    width:100%;
    min-height:400px;
    /*DEBUG*/
    background-color: #006c67;
}
.agency-logos{
    width:30%;
    flex-wrap:wrap;
    /*DEBUG*/
    border: 1px solid black;
}
.agency-logo{
    width:calc(100% / 2);
    height: calc(100%/2);
    /*DEBUG*/
    border:1px solid white;
}
.agency-paragraph{
    flex-grow:1;
}
/*CALL TO ACTION*/
.call-to-action{
    width:100%;
    min-height: 200px;
    background-color: #add2e5;
}
.slogan{
    width:60%;
    min-height:100px;

    /*DEBUG*/
    background-color: #6c002a;
}
.button-to-action{
    width:40%;
    /*DEBUG*/
    background-color: grey;
}

/*FAQ SECTION*/
.faq{
    margin: 50px auto;
    min-height:200px;
    /*DEBUG*/
    background-color:grey;
}
/*FOOTER*/