/*RESET*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*COMMON*/
body{
    font-family: 'Open Sans', sans-serif;   
}
ul{
    list-style-type: none;
}
img{
    max-width: 100%;;
}
a{
    color:inherit;
    text-decoration: none;
}
.container{
    width:70%;
    margin:0 auto;
}
.column-container{
    width: 80%;
    margin: 0 auto;
}
.container-small{
    width:50%;
    margin:0 auto;
}

/*ACTION BUTTON*/
.action-button{
    width:4em;
    height:2em;
    text-align: center;
}
.large{
    width: 15em;
    height: 2em;
    text-align: center;
}
/*ACTION BUTTON COLORS*/
.blue{
    background-color: #0062fe;
    border-color: #0062fe;
    color:white;
}
.black{
    color:black;
    border:0.5px solid black;
}
.white{
    background-color: #ffffff;
}
/*POSITION*/

.fixed{
    position: fixed;
    top:0;
    left:0;
}
.relative{
    position:relative;
}
.absolute{
    position:absolute;
}
/*MARGIN*/
.margin-top-bottom30{
    margin-top:30px;
    margin-bottom: 30px;
}
.margin-top60{
    margin-top:60px;
}
.margin-top30{
    margin-top: 30px;
}
.margin-top20{
    margin-top:20px;
}
.margin-top10{
    margin-top:10px;
}
.margin-bottom150{
    margin-bottom: 150px;
}
.margin-bottom60{
    margin-bottom: 60px;
}
.margin-bottom40{
    margin-bottom:40px;
}
.margin-bottom30{
    margin-bottom:30px;
}
.margin-bottom20{
    margin-bottom: 20px;
}
.margin-bottom10{
    margin-bottom:10px;
}
.margin-left-right10{
    margin-left: 10px;
    margin-right: 10px;
}
.margin-left90{
    margin-left: 90px;
}
.margin-right10{
    margin-right:10px;
}
/*FLEXBOX*/
.flexspacebw{
    display:flex;
    justify-content: space-between;
}
.flexcolcenter{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.flexcolspacebw{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.flexstart{
    justify-content: flex-start;
}
.flexend{
    justify-content: flex-end;
}
.flex{
    display:flex;
}
.flex-end-center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flex-start-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaligncenter{
    display:flex;
    align-items: center;
}
/*HEADER*/
/*NAVBAR*/
.navbar-header{
    width:100%;
    height:90px;
    padding: 10px;
    background-color: white;
}
.nav-left,
.nav-right{
    width:30%;
    height:100%;
}
.header-logo{
    width:20%;
}
.header-list ul{
    margin:0 20px;
    flex-grow: 1;
}
.header-list li{
    margin:0 20px;
}
.header-list a{
    text-decoration:none;
    color:inherit;
}
/*JUMBOTRON SECTION*/
.jumbotron{
    width:100%;
    height:700px;
    margin-top:90px;
    background-color: #add2e5;
    position: relative;
}
.jumbo-adv{
    height:100%;
    position: relative;
    top: 8%;
}
.jumbo-title{
    width:100%;
    font-size:2.5em;
}
.jumbo-columns{
    width:100%;
}
.jumbo-paragraph{
    width:30%;
    height:100%;
    padding:10px 5px;
}
.jumbo-paragraph i{
    font-size:3em;
    margin-top:80px;
}
.jumbo-img{
    width: 70%;
    height: 100%;
}
/*MAIN*/
.title{
    font-size: 2.3em;
}
/*BUSINESS PLAINS*/
.business-plains{
    margin-top:150px;
    margin-bottom:80px;
    height:1500px;
}
.plain-choice{
    width:100%;
    height:20%;
}
.business-title{
    width:100%;
    height: 40%;
    font-size:3em;
    padding-top:20px;
}
.plain-show{
    height: calc(100% - 20%);
    width:100%;
    margin-bottom:20px;
}
.plain-columns{
    width:100%;
    height:90%;
}
/*PLAIN COLUMN STRUCTURE*/
.plain-column{
    width: 30%;
    height:100%;
    /*DEBUG*/
    border: 1px solid black;
}
.plain-title{
    width:100%;
    height:10%;
    border-bottom:1px solid black;
}
.plain-type{
    height: 15%;
    padding-top:30px;
}
.plain-functions{
    height:15%;
}
.buynow{
    color:blue;
    text-decoration: underline;
}
.function-summary{
    height:60%;
}
.check-blue{
    color: blue;
}
/*PLAIN FOOTER STRUCTURE*/
.plain-footer{
    height:calc(100% - 80%);
    width:calc(100%);
    margin-top:30px;
    /*DEBUG*/
    border:1px solid black;
}
.plain-footer-title{
    width:100%;
    height:20%;
    border-bottom:1px solid black;
}
/*CARD*/
.card{
   height: 500px;
}
.card-info{
    width:40%;
    height: 100%;
}
.card-img{
    height:100%;
    flex-grow:1;
    background-image: url("../img/partner.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/*FUNCTION SECTION*/
.function-section{
    height:1400px;
    margin-bottom:10px;
}
.title-function{
    width:100%;
    height:15%;
    font-size: 1.6em;
}
.function-columns{
    width:100%;
    height:calc(100% - 20%);
    flex-wrap:wrap;
}
/*FUNCTION COLUMN*/
.function-col{
    width: calc(100% / 3 - 10px);
    margin:5px;
}
.function-paragraph{
    height:70%;
}
/*BANNER*/
.banner{
    height:200px;
    margin-bottom:30px;
}
/*AGENCY SECTION*/
.agency-section{
    width:100%;
    height:500px;
}
.agency-logos{
    width:30%;
    flex-wrap:wrap;
    /*DEBUG*/
    border: 1px solid black;
}
.agency-logo{
    width:calc(100% / 2);
    height: calc(100%/2);
    padding: 10px;
}
.agency-logo img{
    filter: invert(1);
    width:150px;
}
.agency-paragraph{
    width:40%;
    overflow-y: scroll;
}
.agency-paragraph img{
    width: 300px;
}
.mini-box{
    width:100%;
    height:100%;
}
/*AGENCY COLOR*/
.green{
    background-color: #ceeaca;
}
.darkgreen{
    background-color: #92d596;
}
.brown{
    background-color: #6c002a;
}
.lightblue{
    background-color: #0093ca;
}
.red{
    background-color: #ff0000;
}
.yellow{
    background-color: #ffd730;
}
.darkblue{
    background-color: #002978;
}
.default{
    background-color: #add2e5;
}
/*CALL TO ACTION*/
.call-to-action{
    width:100%;
    height: 300px;
    background-color: #add2e5;
}
.slogan{
    width:60%;
    min-height:100px;
    color: #6c002a;
}
.button-to-action{
    width:40%;
    color:black;
}
/*FAQ SECTION*/
.faq{
    margin: 50px auto;
    height: 400px;
}
.question{
    border-top: 1px solid black;
}
.question p{
    display: none;
}
.question:hover p{
    display: block;
}
/*FOOTER*/
footer{
    background-color: black;
    color:white;
    height:500px;
}
.footer-columns{
    width:100%;
    min-height: 300px;
    margin-top:10px;
    margin-bottom:50px;
    top:0;
    left:0;
}
.footer-col{
    width:20%;
    min-height: 200px;
}
.footer-col ul li{
    margin-bottom: 10px;
}
/*LANGUAGE*/
.language{
    width:200px;
    height:50px;
    margin-top:40px;
    bottom:0;
    left:0;
}